html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height; /* Set the fixed height of the footer here */
}

.container-xl {
  @extend .px-3;
  max-width: 1366px;
}

@include breakpoint('xl') {
  .sidebar-col {
    width: 250px;
  }

  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: $spacer-4;
    padding-bottom: $spacer-4;

    &-inner {
      max-height: calc(100vh - #{2 * $spacer-4});
      overflow-y: auto;
    }

    .menu:last-child {
      margin-bottom: 0;
    }
  }

  .navigation-col {
    order: 1;
  }

  .content-col {
    padding: $spacer-5;
    order: 2;
  }

  .toc-col {
    order: 3;
  }
}
